{% extends 'layout.html.twig' %}

{% block title %}О блоге{% endblock%}

{% block body %}
    <header>
        <h1>О блоге Food-Blog</h1>
    </header>
    <article>
        <p>Этот блог собрал разнообразные рецепты со всего мира. Тут вы можете найти рецепт на свой вкус, сложность и время приготовления.
        Вы можете так же добавлять рецепты самостоятельно, чтобы другие могли так же приготовить ваши блюда и получить несравненное удовольствие от еды.</p>
        Это блог был разработан исключительно на PHP Symfony фреймворке.
    </article>
{% endblock %}
