{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div>
        {% if (error is defined ) %}
            <p>{{ error }}</p>
        {% endif %}
        <form class="form-style-5" method="post" action="/registration">
            <input type="text" name="login" placeholder="Введите логин">
            <input type="password" name="password" placeholder="Введите пароль">
            <input type="text" name="name" placeholder="Введите имя">
            <input type="text" name="lastname" placeholder="Введите фамилию">
            <input type="email" name="email" placeholder="Введите электронный адрес">
            <input type="submit" value="Регистрация">
        </form>
    </div>
{% endblock %}